<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.klaudia.configapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="any"
        android:sharedUserLabel="@string/any"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralSettingsActivity"
            android:label="@string/title_activity_general_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.klaudia.configapp.MainActivity" />
        </activity>
        <activity
            android:name=".ResourcesActivity"
            android:label="@string/title_activity_resources"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.klaudia.configapp.MainActivity" />
        </activity>
        <activity
            android:name=".AddCategory"
            android:label="@string/title_activity_add_category"
            android:parentActivityName=".ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.klaudia.configapp.ResourcesActivity" />
        </activity>
        <activity
            android:name=".AddChild"
            android:label="@string/title_activity_add_child"
            android:parentActivityName=".ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.klaudia.configapp.ResourcesActivity" />
        </activity>
    </application>

</manifest>
